@import "~bootstrap/scss/bootstrap";

#header {
    img {
	   width: 40px;
	   transition-duration: 1s;
    }

    img:hover {
	   transform: rotate(360deg);
    }

    #brand-name {
	   margin-left: 10px;
	   color: white;
    }
}
