.mem-table-display-select {
    margin-bottom: 1rem !important;
    
    .mem-table-display-select-label {
	   height: 2.3rem;
	   line-height: 2.3rem;
	   margin-right: 1rem;
    }
    
    .btn-group {
	   margin-right: 1rem;
    }
}

.mem-table-empty-msg {
    text-align: center;

    .badge {
	   color: white;
    }
}
