.mem-table-toggle {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.mem-table-title {
    display: inline-block;
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.mem-table-filters {
    margin-bottom: 1rem !important;
    float: right;

    h2 {
	   display: inline-block;
    }

    .mem-table-search {
	   max-width: 16rem;
	   display: inline-block;
	   margin-right: 3rem;
    }
    
    .mem-table-display-select-label {
	   height: 2.3rem;
	   line-height: 2.3rem;
	   margin-right: 1rem;
    }
    
    .btn-group {
	   margin-right: 1rem;
    }
}

.mem-table-empty-msg {
    text-align: center;
}
